<header class="d-flex align-items-center container-fluid">
    <h1><a href=""><img src="assets/images/svg/logo.svg" alt=""></a></h1>
    <ul class="nav">
        <li class="closBtn">
            <button type="button" class="mobileClose" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#about">About us</a></li>
        <li class="nav-item"><a href="#projects">Projects</a></li>
        <li class="nav-item"><a href="#contact">Contact us</a></li>
    </ul>
    <span class="hamburger"><img src="assets/images/svg/navbar-togler-dark.svg" alt=""></span>
    <div id="mail-btn" class="" align="right">
        <a class="enquire-btn enquiry-scroll"  href="#contact" title="enquire"><span class="shimmer">General Enquiry</span></a>
    </div>
</header>