.btn{
  height: 38px;
  min-width: 140px;
}
.form-control{
  border: solid 1px #ccc;
  font-size: 13px;
}
#logout { cursor:pointer; padding:10px 20px 10px 0; text-align:left; text-indent:40px; /*display:block; */ margin:0 auto; display: inline-block; /* add This Code */ position: absolute; right:5px; top: 50px;
}