<footer>
    <div class="copyright-container py-4">
        <div class="container d-flex justify-content-between">
            <p class="copyright-text mb-0">All Rights Reserved. Copyright @ Zaara Realty Private Limited 2018</p>
            <ul class="d-flex mb-0">
                <li><a href="https://www.facebook.com/ZaaraRealtyChennai"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <!-- <li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
                <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</footer>